body {
  font-family: sans-serif;
}
.container {
  border: 2px solid rgb(224, 237, 243);
  width: 500px;
  max-height: 80vh;
  place-items: center;
  margin: 50px auto;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input[type="color"] {
  width: 50%;

  margin-top: 1.5rem;
}
p {
  font-size: 1.2rem;
}
label {
  font-size: 1.2rem;
}
.box {
  margin-top: 1rem;
  border: 1px solid black;
  width: 200px;
  height: 200px;
}
