* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  height: 100vh;
}
.container {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
button {
  width: 20%;
  margin-top: 5rem;
  padding: 0.5em 1.3em;
  border-radius: 10px;
  text-align: center;
  margin: 1rem;
  font-size: 1.5rem;
  font-family: "Times New Roman", Times, serif;
  text-transform: capitalize;
  border: none;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
p {
  font-family: monospace;
}
.btnStart {
  background-color: #10b981;
}
.btnStop {
  background-color: #e11d48;
}
.btnReset {
  background-color: #2563eb;
}
