body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.calculator {
  border: 2px solid white;
  height: 75%vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input {
  align-items: center;
  width: 90%;
  padding: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
button {
  margin-top: 1rem;
  padding: 10px 15px;
  font-size: 1.2em;
  border-radius: 50px;
  background-color: #1e3a8a;
  color: white;

  border: 2px solid white;
}
.buttons .signs {
  background-color: rgb(236, 24, 24);
}
