* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-image: url("/pic2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
  height: 100%;
}
.container {
  margin-top: 2rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-transform: capitalize;
  font-size: 2.5rem;
  font-family: monospace;
}
p {
  font-size: 8rem;
  font-family: "Bespoke Stencil", sans-serif;

  font-weight: bold;
  backdrop-filter: blur(5px);
  background-color: hsla(0, 0%, 100%, 0.137);
  width: 100%;
}
