* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  /* background-image: url("./public/pic1.jpg"); */

  display: flex;
  text-align: center;
  justify-content: center;
}
.container {
  margin-top: 2rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-transform: capitalize;
  font-size: 2.5rem;
  font-family: monospace;
}
p {
  font-size: 8rem;
  font-family: "Bespoke Stencil", sans-serif;
}
