:root {
  --input-border: #bbb;
  --input-focus-border: hsl(180, 81%, 39%);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-size: 1.2rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid whitesmoke;
  height: 50vh;
  width: 400px;
  margin: 50px auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

label {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-transform: capitalize;
  font-weight: bold;
}
input[type="text"] {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
  padding: 10px 15px;
}
input[type="text"]:focus {
  outline-color: var(--input-focus-border);
  border-color: var(--Qnput-border);
}
button {
  padding: 10px 25px;
  font-size: 1.2rem;
  text-transform: capitalize;
  border: none;
  border-radius: 10px;
  background-color: hsl(180, 94%, 48%);
  margin-bottom: 1.2rem;
  margin-right: 10px;
  cursor: pointer;
}
button:hover {
  background-color: hsl(180, 81%, 39%);
  color: white;
}
