* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Satoshi", sans-serif;
}
body {
  background-color: #e3f2fd;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accordion {
  max-width: 530px;
  width: 100%;
  background: white;
  border-radius: 10px;
  border: 2px solid whitesmoke;
  padding: 0.5rem;
  margin: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.accordion .header {
  min-height: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.accordion__item {
  background-color: hsl(32, 100%, 92%);
  margin: 0.2rem;
  padding: 0.5rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.subtitle {
  padding: 0.8rem;
  text-transform: capitalize;
  cursor: pointer;
}

.subtitle + .accordion__content {
  display: none;
}
.subtitle.is-open + .accordion__content {
  display: block;
}

.subtitle:hover {
  background-color: hsl(32, 84%, 81%);
}
