* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Satoshi", sans-serif;
}
body {
  background-color: #e3f2fd;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accordion {
  max-width: 530px;
  width: 100%;
  background: white;
  border-radius: 10px;
  border: 2px solid whitesmoke;
  padding: 0.5rem;
  margin: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.accordion .header {
  min-height: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.accordion__content {
  background-color: hsl(32, 100%, 92%);
  border: 1px solid 3FFEDD8;
  margin: 0.5rem;
  padding: 0.2rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.subtitle {
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  cursor: pointer;
}
/* .accordion__content {
  font-weight: 400;
  
} */
.subtitle.is-open + .description {
  display: block;
}

.accordion__content:hover {
  background-color: hsl(32, 84%, 81%);
}
.accordion .subtitle:after {
  content: "\02795";
  font-size: 1rem;
  color: #777;
  margin-top: 1rem;
  position: absolute;
  top: 0px;
  right: 20px;
  bottom: 1rem;
}
.active:after {
  content: "\2796";
}
