* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 500px;
  height: 300px;
  border: 2px solid black;
  height: 50vh;
  padding: 10px 20px;
  font-size: 1.8rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.content {
  margin: 1.2rem;
}
label {
  text-transform: capitalize;
}
input[type="text"] {
  width: 40%;
  padding: 10px 25px;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  text-align: center;
}
input[type="password"] {
  width: 40%;
  padding: 10px 25px;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  text-align: center;
}

button {
  padding: 10px 25px;
  font-size: 1.2rem;
  text-transform: capitalize;
}
