* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background-color: #f2f2f2;
}
.container {
  width: 600px;
  height: 400px;
  border: 2px solid black;
  background-color: white;
  margin: 50px auto;
  padding: 10px 20px;
  font-size: 1.8rem;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.content {
  margin: 1.2rem;
}
label {
  text-transform: capitalize;
  margin-right: 1rem;
}
input[type="text"] {
  width: 50%;
  padding: 10px 25px;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  text-align: center;
}
input[type="password"] {
  width: 50%;
  padding: 10px 25px;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  text-align: center;
}

button {
  padding: 10px 25px;
  font-size: 1.3rem;
  text-transform: capitalize;
  background-color: #0477bf;
  border: none;
  color: white;
  border-radius: 10px;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
