* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background-color: #f2f2f2;
}
.container {
  width: 700px;
  height: 500px;
  border: 2px solid black;
  background-color: white;
  margin: 50px auto;
  padding: 10px 20px;
  font-size: 1.8rem;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.content {
  margin: 1.2rem;
}
label {
  text-transform: capitalize;
  margin-right: 1rem;
  font-weight: 300;
}
input {
  border: 4px solid black;
  width: 80%;
  padding: 10px 25px;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  text-align: center;
  border-radius: 10px;
}
input:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
input:focus {
  border: 5px solid #0468bf;
}
button {
  padding: 10px 25px;
  font-size: 1.3rem;
  text-transform: capitalize;
  background-color: #0477bf;
  border: none;
  color: white;
  border-radius: 10px;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
